body {
    background-color: rgb(238,238,238);
    font-family: 'Lato', sans-serif;
}

.grid {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: rgb(255,255,255);
    padding: 10px 50px 50px 50px;
    border-radius: 2px solid rgb(203,203,203);
    box-shadow: 10px 15px 5px rgb(203,203,203);
}

.grid h1 {
    font-family: sans-serif;
    background-color: rgb(97,90,200);
    font-size: 60px;
    text-align: center;
    color: rgb(255,255,255);
    padding: 2px 0px;
    border-radius: 50px;
    margin-bottom: 20px;
}

.grid #question {
    font-size: 30px;
    color: rgb(97,90,200);
    margin-bottom: 14px;
}

.buttons {
    margin-top: 35px;

}

/* .buttons {
    margin-top: 30px;
    margin: 0 20%;
}

#btn0, #btn1, #btn2, #btn3 {
    background-color: rgb(119,136,151);
    width: 250px;
    font-size: 20px;
    color: rgb(255,255,255);
    border: 1px solid rgb(29,60,106);
    border-radius: 50px;
    margin: 10px 50px 10px 0px;
    padding: 10px 10px;
} */

/* #progress {
    color: rgb(43,43,43);
    font-size: 18px;

} */

/* #btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: rgb(87,99,110);
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}
 */
